/*TO give color to the button */
#rollbutton
{
    background-color: aqua;
}
/*TO give color and border to the label */
#xlabel
{
    color: blue;
    border: 2px solid red;
}
#ylabel
{
    color: blue;
    border: 2px solid red;
}
#zlabel
{
    color: blue;
    border: 2px solid red;
}